body {
    background-color: #bfff00;
    padding: 0;
    margin: 0;
    font-family: Courier;
    color: black;
  }

  #content {
    width: 800px;
    margin: auto;
    margin-top: 16px;
  }
  
  #header {
    width: 100%;
    font-size: 16px;
    overflow: auto;
  }

  #header > div:first-child {
      position:relative;
      height:188px;
      margin-bottom:16px;
  }

  #header hr {
    border: 1px solid #555555;
    width: 100%;
    margin: 0px;
  }

  #header-text {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #navigation {
    width: 100%;
    margin: auto;
  }

  #navigation span {
    float:right;
    margin-bottom:16px;
  }

  .article {
      width: 600px;
      margin: auto;
      font-size: 16px;
      text-align: justify;
  }

  .article > * {
      margin-top: 0px;
  }

  .article h3 {
      text-decoration: underline;
      margin-bottom: 16px;
  }

.article h3:not(:first-child) {
    margin-top: 48px;
}
